data/**.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_gold.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_sampling_t=0.4_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_topk_k=20_t=0.7_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_topk_k=2560_t=0.7_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_topk_k=320_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_topk_k=5_t=0.7_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_topp_p=0.999609375_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_greedy_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_sampling_t=0.1_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_topk_k=160_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_topk_k=160_t=0.7_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_topp_p=0.99375_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_topp_p=0.1_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_topp_p=0.6_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_topp_p=0.9984375_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_sampling_t=0.3_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_sbs_w=4_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_sbs_w=8_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_topk_k=320_t=0.7_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_topk_k=1280_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_topk_k=80_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_topk_k=10240_t=0.7_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_topp_p=0.4_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_sampling_t=0.8_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_topk_k=5120_t=0.7_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_topp_p=0.3_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_topp_p=0.975_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_topp_p=0.9875_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_topk_k=20480_t=0.7_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_topk_k=40_t=0.7_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_topk_k=640_t=0.7_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_topp_p=0.996875_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_sampling_t=0.6_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_topk_k=10240_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_topk_k=2560_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_topk_k=40_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_topp_p=0.8_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_topp_p=0.999951171875_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_topp_p=0.9_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_bs_w=16_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_bs_w=8_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_sampling_t=0.2_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_sampling_t=0.5_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_sampling_t=0.7_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_topp_p=0.2_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_topp_p=0.9998046875_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_sampling_t=0.9_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_topp_p=0.7_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_topp_p=0.99990234375_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_topk_k=10_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_topk_k=20480_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_topk_k=640_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_topk_k=80_t=0.7_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_topp_p=0.99921875_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_topk_k=10_t=0.7_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_topp_p=0.95_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_puresampling_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_sbs_w=16_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_topk_k=20_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_bs_w=4_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_topk_k=1280_t=0.7_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_topk_k=5120_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_topk_k=5_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/conditional/conditional_topp_p=0.5_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_sampling_t=0.3_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_topk_k=20480_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_topk_k=40_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_topk_k=10240_t=0.7_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_topk_k=320_t=0.7_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_topp_p=0.7_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_topk_k=1280_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_topp_p=0.95_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_topp_p=0.975_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_topk_k=10_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_topp_p=0.3_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_sampling_t=0.1_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_topk_k=80_t=0.7_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_topp_p=0.4_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_topp_p=0.9998046875_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_sampling_t=0.7_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_topk_k=20_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_topk_k=2560_t=0.7_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_sampling_t=0.4_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_sampling_t=0.6_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_sampling_t=0.8_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_topk_k=5120_t=0.7_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_topp_p=0.996875_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_topp_p=0.9984375_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_sampling_t=0.5_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_topk_k=5_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_topk_k=640_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_topk_k=160_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_topk_k=80_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_topp_p=0.1_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_topp_p=0.5_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_topp_p=0.9875_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_topp_p=0.999951171875_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_topk_k=10_t=0.7_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_topk_k=1280_t=0.7_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_topp_p=0.8_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_topp_p=0.99921875_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_topp_p=0.9_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_topk_k=10240_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_topk_k=2560_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_topk_k=40_t=0.7_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_topp_p=0.6_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_topp_p=0.99375_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_topp_p=0.99990234375_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/gold.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_topk_k=20480_t=0.7_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_topk_k=640_t=0.7_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_sampling_t=0.9_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_topk_k=5120_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_topp_p=0.999609375_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_topk_k=20_t=0.7_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_topk_k=320_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_puresampling_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_sampling_t=0.2_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_topk_k=160_t=0.7_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_topk_k=5_t=0.7_large.jsonl filter=lfs diff=lfs merge=lfs -text
data/unconditional/unconditional_topp_p=0.2_large.jsonl filter=lfs diff=lfs merge=lfs -text
